@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Contoso University </h1>
</div>

    <div class="col">

        <div class="col-md-4">
            <h2>Welcome to Contoso University!</h2>
            <p>
            Contoso University - is sample application what i
            create according to learn how work Razor Page technology
            and get the pover or MVC pattern.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Build it from scratch</h2>
            <p>You can build the application by following the steps in a series of tutorials.</p>
            <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo; </a></p>
        </div>

        <div class="ccol-md-4">
            <h2>You cant download it</h2> 
            <p>So go on following link:</p>
            <p> <a class="btn btn-default" href="https://careers.mcdonalds.com"> Following link &raquo;</a> </p>
        </div>


    </div>
