@{
    ViewData["Title"] = "Movie List"; // Что это за строка?
}


<div class="text-center">
    <h1 class="display-4">My Movie List</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">hello world with ASP.NET Core</a>.</p>
</div>
