@page
@model MvcMovie.Views.HelloWorld.IndexModel
@{
   // ViewData["Title"] = "Wello World Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to hello world!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">hello world with ASP.NET Core</a>.</p>
</div>
