@model ItemModel
@using EditorFor.Services

<div class='row'>
    <div class="col-md-6">
        <p> Information about model </p>
        
        @MyEditorFor.EditorFor(Model.ModelIntegerProp)
        @MyEditorFor.EditorFor(Model.ModelLongProp)
        @MyEditorFor.EditorFor(Model.ModelBoolProp)
        @MyEditorFor.EditorFor(Model.ModelStringProp)

        
    </div>
</div>